/*
body*/



/* finance charts categories */
 #chart{
	/* padding-top: 70px !important; */
}
#chart h2{
	
	font-weight: bold;
	font-size: 1em;
	color: #B06444;
}  
.public_finance_charts .row {
margin-bottom: 7% !important;
color: #E0E0E0 !important;
max-height: 100% !important;
	}
	.tableauPlaceholder{
		max-height:100% !important;
	}
.county_category{
}
 .national_category{
}

.tableauPlaceholder {
max-width: 100%; 
	max-height:100%;}
object .tableauViz{

	width:100%;
	 max-height:100%;
	} 
 


 /* #touchSlider {
	width: 100%;
	height: 150px;
	margin: 0 auto;
	background: #ccc;
	position: relative;
	overflow: hidden;
  }
  
  #touchSlider ul {
	width: 99999px;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
  }
  
  #touchSlider ul li {
	float: left;
	width: 100%;
	height: 150px;
	background: #9C9;
	font-size: 14px;
	color: #fff;
  } 

h1 { font-size:16px; font-weight:bold; }
h2 { margin-top:10px; text-align:center; }

#touchSlider { 
    width:100%;
    max-height:100%; 
    /* margin:0 auto; */
     background:#fff;
     position:relative; 
     overflow:hidden;

     margin:10px;
}
#touchSlider ul {
     width:100%; height:900px;
     position:absolute; top:0; left:0; 
    overflow:hidden;

}
#touchSlider ul li { float:left; width:100%; height:1000px; 
     background:#fff; font-size:14px; color:#fff; }

.btn_area {
     background:#eeeded; 
    text-align:center;
     overflow:hidden;
     bottom:0;
     position: -webkit-sticky;
   position: sticky;
 }
.btn_area button { 
     display:block;
      width:50px; 
      height:50px;
     margin-left:5em;
      margin-right:5em;

     background:#B06444; 
     font-size:16px; 
     color:#fff; 
     font-weight:bold;
     border-radius: 50%;
 }
.btn_area button.btn_prev { float:left; }
.btn_area button.btn_next { float:right; }
.paging { 
    background:#f5f5f5;
     text-align:center; overflow:hidden; }
.paging .btn_page { display:inline-block; 
    width:10px; height:10px; margin:3px; font-size:0px;
     line-height:0; text-indent:-9999px;
      background:#3399CC; }
.paging .btn_page.on { background:#ff0000; }
.row{
    margin-bottom: 5em !important;
}
#chart_title{
    position: -webkit-sticky;
   position: sticky;
   top: 0;
}