@import url('https://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans');

@import url('<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">');
 body{
   overflow-x: hidden;
    padding-top: 100px; 
 }
 /*navbar brand */
 #logo{
  height: 100px !important;
}
/* end of navbar brand */


.navbar {
min-height: 100px;

}

.navbar-brand {
padding: 0 15px;
height: 80px;
line-height: 80px;
}

.navbar-toggle {
/* (80px - button height 34px) / 2 = 23px */
margin-top: 23px;
padding: 9px 10px !important;
}

@media (min-width: 768px) {
.navbar-nav > li > a {
  /* (80px - line-height of 27px) / 2 = 26.5px */
  margin-top: 20px;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  line-height: 27px;
  font-weight: bold;
}

}
.dropdowndropdown:hover #sectors{
  display: block;
  background: #b06444;
  opacity: 90%;
  -webkit-transition: all 14s ease-out;
  -moz-transition: all 14s ease-out;
  -o-transition: all 14s ease-out;
  transition: all 14s ease-out;
}
#sectors{
  
  
}
.dropdowndropdown:hover {
  /* color:#fff;
  background: #b06444; */
  color: #b06444;

 
}
#myNavbar {
  /* background-color: #f7f3f2; */
  /* background-color: rgb(214, 214, 214, 0.9); */
  
} 

.navbar-default .navbar-nav>li>a  {
  color: rgb(0, 0, 0);
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  /* color: #fff;
  /* background-color: transparent; */
  /* background: #b06444; */ 
  color:#b06444;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover
.navbar-default .navbar-nav>.open>a:active {
  /* color: #fff !important;
  background-color: #b06444; */
  color: #b06444;
}


.menus li  {
margin-bottom:1% !important;
border-bottom:1px solid #9E9E9E;

}
.menus li a {
  text-decoration:none;
  font-size: 15px;
  line-height: 24px;
  color: rgb(48, 48, 48);
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  */
  }

 .menus li:not(.dropdown-header):hover {
        padding-left: 1%;
         background:#b06444; 
    
 }
  .menus li:hover a{
    color:#fff;
  }
.dropdown-header{
  color: #b06444 !important;
  margin-bottom: 15% !important;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}
.sub-head{
background:#b06444;
border-bottom: 1px #fff solid;

}

.dropdown-submenu .dropdown-toggle{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color:#fff;
}

.dropdown-submenu .dropdown-toggle a{
   
  
}
.dropdown-menu li {
  list-style: none !important;
  color: #000000 important;
  
}
#imaginary_container{
  margin-left:3%;
   margin-top:7%; 
  width: 550px;
}
#imaginary_container1{
  margin-left:3%;
   margin-top:5%; 
  width: 720px;
}
.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
}
.stylish-input-group button{
  border:none;
  background:transparent;
  color:#b06444;

}

/* . li:hover{
 text-decoration:  none !important;
  color:#ffff;
  background-color:#B06444;
} */
@media (min-width: 768px) {
.dropdown-submenu>.dropdown-menu {
  /* position: absolute; */
  top: -.29em !important;
  left: -1.88em;
  right: 2.7em;
  padding:1% !important;
  list-style: none !important;
  border-left:none !important;
  /* z-index: -1%; */
 
}}
 .dropdown-submenu:hover>.dropdown-menu {
  display: block;
  margin-left: 110%;
  min-width: 750px;
  min-height: 31.8em !important;
  

}
.dropdown-submenu .dropdown-menu{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
       border-radius: 0 !important;
  
  
}
 

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100% !important;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
  
}





/* 

/* autocomplete search */

/* * { box-sizing: border-box; } */
/* body {
  font: 16px Arial; 
} */


.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  color: #222;
}
.icon{
/* border:none; */
background-color:transparent;
color: #b06444;
font-size: 33px;
font-weight: bold;
margin-left: -1.4%;

}
.fa-search{
  margin-top: 1em;
}
input[type=submit] {
  /* content:"\f002"; */
 background:#b06444 ;

 
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  color: #222;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  color:#222;
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #222; 
}

/* end of autocomplete */




/*
Landing page css*/


#landing{
  margin-top: -1%;
  margin-left: -15px;
  margin-right: -15px;
  height: 60vh;
   /* background-image:linear-gradient(
      to left top,
      rgba(216, 159, 159, 0.9),
       rgba(238, 214, 207, 0.9)), url(/assets/chart1.jpg); */ 

background-image:linear-gradient(1deg,
rgba(216, 159, 159, 0.9),
rgba(245, 177, 158, 0.295),
#8c3107 99% ),url(../img/menu/changed.png);
/* background-image:url(../img/menu/changed.png); */

    background-position:  right 38% !important;
     
background-size: cover;
background-position: top;
position: relative;
/* clip-path: polygon(0 0,100% 0,100% 100vh,0 100%); */
clip-path: polygon(0 0,100% 0,100% 100vh,0 100%);
}


.text-box{
position: absolute;
top: 63%;
left:59.2%;
transform: translate(-100%,-10%);
text-align: center;

}

.heading-primary{
  
  /* color: #000 !important; */
  color: #fff !important;
  font-weight: bolder;
text-transform: uppercase;
backface-visibility: hidden;
margin-bottom: 60px;
}

.heading-primary-main{
  /* top: 30em !important;
  margin-left:40%; */

  font-weight: bolder;
display: block;
font-size: 28px;
font-weight: 400;
letter-spacing: 5px;
animation-name: moveInLeft;
animation-duration: 5s;
animation-timing-function: ease-out;
/*animation-delay: 1s;
animation-iteration-count: 3;*/
}
.heading-primary-sub{
display: block;
font-size: 20px;
font-weight: 700;
letter-spacing: 5px;
animation:moveInRight  5s ease-out;
}

@keyframes moveInLeft{
0%{
     opacity: 0;
     transform: translateX(-500px) rotate(0deg);

} 
60%{
  transform: rotate(360deg);
}
80%{
      transform: translateX(20px);  
}
100%{
     opacity: 1;
     transform: translate(0) rotate(360deg);
}
}

@keyframes moveInRight{
0%{
     opacity: 0;
     transform: translateX(500px);

} 
80%{
      transform: translateX(-20px);  
}
100%{
      opacity: 1;
     transform: translate(0);
}
}

.btn-menu:hover{
  color:#eee6e6;
  }

.btn:not(.navi):link,
.btn:not(.navi):visited{
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: relative;

   
}
.btn:not(.navi):hover{
transform: translateY(-3px);
/* box-shadow: 0 10px 20px rgba(192, 130, 94, 0.2); */
}


.btn:not(.navi):active{
transform: translateY(-1px);
/* box-shadow: 0 5px 20px rgba(206, 95, 95, 0.2); */
}

.btn-white{
background-color: #ffffff;
  color: #1b1b1b;
  font-weight: bolder;
}

.btn:not(.navi)::after{
content: "";
display: inline-block;
height: 100%;
width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: all .5s; 

}

.btn-white::after{
background-color:#ffffff;
color: #fff;
}

.btn:not(.navi):hover::after{
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}
.btn-animated{
animation:moveInButton 3s ease-out .75s;
animation-fill-mode: backwards; 
}

@keyframes moveInButton{
0%{
     opacity: 0;
     transform: translateY(40px);

} 
100%{
      opacity: 1;
     transform: translate(0);
}
}


 /* End of Landing page CSS*/


 /* start sectors css */

 
 #sectorss{
  margin-top:-3px;
  background: #005073;
  /* background: -webkit-linear-gradient(102deg, rgb(140, 49, 7), rgb(136, 59, 78));
  background: linear-gradient(102deg, rgb(140, 49, 7), rgb(136, 59, 78));
  
   */
  
  opacity:0.9; 
  background:cover;
  background-repeat: no-repeat;
  background-position: left 5% top 10%; 
  }
.icon-a{
    color: #cc5522;
  }
 
/* i{
  margin-top:1%;
  font-size: 1.6em;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background: #cc5522;
  color: #fff;
  border-radius: 50%; /* or 50% width & line-height */
/* } */


#sectors-heading{
  color:#fff;
  font-weight: normal;
 }

.text-weight-strong  a{
   color:#fff;
   font-weight: normal;
   font-size:15px;
   text-decoration: none;
   text-transform: uppercase;
}
/* end sectors css */









/* partners */

#partnerss{

}

#partners-heading{
  margin-top: 2%;
  margin-bottom: 2%;
}
#data_request{
  background-image:linear-gradient(15deg,
  rgba(245, 177, 158, 0.9),
  #916250 95%),
 url(../img/menu/ele.jpg);
  background-position: left 25% top 18%;
  color:#fff;
}
/* end partners */




/*start of dropdown additional styling*/
#finance{
  background-image:linear-gradient(30deg,
  rgba(216, 159, 159, 0),
  rgba(245, 177, 158, 0.938),
  #f0e4df 95% ), url(../img/menu/sh.jpg);
  background-position: left 35% top 18%;
  /*  */
  list-style: none !important;
}
#education{ 

  background-image:linear-gradient(30deg,
  rgba(216, 159, 159, 0.541),
  rgba(245, 177, 158, 0.5),
  #f0e4df 95% ), url(../img/menu/education.jpg);
  /* background-position: left 25% top 18%; */
   
}
/* #education li a{
  color:rgb(15, 15, 15);
} */

#health{ 
 
   /*background-image:linear-gradient(250deg,
   rgba(172, 90, 68, 0.1),
  rgba(245, 177, 158, 0.5),
  #f0e4df 95% ), url(../img/menu/hospital.jpg);
  background-repeat: no-repeat;
   background-position: left 25% top 8%;
  */
  background-image:
 linear-gradient(107deg,  rgba(245, 177, 158, 0.5), rgba(245, 177, 158, 0.5) 90.71%),
   linear-gradient(107deg, rgba(212, 248, 212, 0.9), rgba(0,255,0,0) 99.71%), 
  linear-gradient(90deg, rgb(165, 120, 109), rgba(245, 177, 158, 0) 99.71%),
  url(../img/menu/hospital.jpg);
  background-repeat: no-repeat;
   background-position: left 30% top 8% !important;
  
   max-height: 34.5em !important

}
#agriculture{ 
/*   
  background-image:linear-gradient(300deg,
  rgba(172, 90, 68, 0.1),
  rgba(245, 177, 158, 0.5),
  #f0e4df 95% ), url(../img/menu/beanss.jpg);
  background-position: left -30% bottom 0% !important;
  background-repeat: no-repeat; */
  
  background-image:
 linear-gradient(90deg,  rgba(245, 177, 158, 0.5), rgba(245, 177, 158, 0.5) 90.71%),
  linear-gradient(-90deg, rgba(248, 252, 248, 0.99), rgba(0,255,0,0) 99.71%),
  linear-gradient(200deg, rgb(165, 120, 109), rgba(245, 177, 158, 0) 99.71%),
  url(../img/menu/arabica.jpg);
  background-position: left 30% top 8% !important;
  
  /* background-image:
  linear-gradient(7deg,  rgba(212, 248, 212, 0.5), rgba(212, 248, 212, 0.5) 90.71%),
   linear-gradient(207deg, rgba(212, 248, 212, 0.9), rgba(212,248,0,0) 99.71%),
   linear-gradient(200deg, rgb(212, 248, 212), rgba(212, 248, 212, 0) 99.71%),
   url(../img/menu/arabica.jpg); */
 

}
/* #agriculture li a{
  color:#fff;
} */
#population{ 
 /* color: #fff;
  background-image:linear-gradient(15deg,
  rgba(216, 159, 159, 0.1),
  rgba(31, 153, 197, 0.664),
  #078c4e 95%), url(../img/menu/popu.png);*/
  text-overflow: nowrap;
  background-image:
 linear-gradient(107deg,  rgba(245, 177, 158, 0.5), rgba(245, 177, 158, 0.5) 90.71%),
  linear-gradient(107deg, rgba(140, 141, 140, 0.99), rgba(0,255,0,0) 99.71%),
  linear-gradient(200deg, rgb(165, 120, 109), rgba(245, 177, 158, 0) 99.71%),
  url(../img/menu/demo.png);
  background-position: left 30% top 8% !important;

}
/* .dropdown-menu #population li {
  list-style: none !important; 
} */
#governance{ 
  /*color: #fff;
  background-image:linear-gradient(15deg,
  rgba(216, 159, 159, 0.1),
  rgba(31, 153, 197, 0.664),
  #078c4e 95% ), url(../img/menu/court.jpg);
  background-position: left 55% top 18%;*/

  background-image:
 linear-gradient(-90deg,  rgba(245, 177, 158, 0.5), rgba(245, 177, 158, 0.5) 90.71%),
  linear-gradient(-90deg, rgba(248, 252, 248, 0.99), rgba(0,255,0,0) 99.71%),
  /*linear-gradient(200deg, rgb(165, 120, 109), rgba(245, 177, 158, 0) 99.71%),*/
  url(../img/menu/scales.jpg);

  background-position: left -120% top 90% !important;
  background-repeat: no-repeat;


}

#land{ 
  /*color: #fff;
  background-image:linear-gradient(15deg,
  rgba(216, 159, 159, 0.1),
  rgba(245, 177, 158, 0.5),
  #8c3107 95% ), url(../img/menu/climate.jpg);*/
  
  background-image:
 linear-gradient(90deg,  rgba(245, 177, 158, 0.5), rgba(245, 177, 158, 0.5) 90.71%),
  linear-gradient(90deg, rgba(248, 252, 248, 0.99), rgba(0,255,0,0) 99.71%),
  linear-gradient(200deg, rgb(165, 120, 109), rgba(245, 177, 158, 0) 99.71%),
  url(../img/menu/laand.jpg);
  background-repeat: no-repeat;
  background-position: left 30% top 8% !important;
}
#more{ 
  color: #fff;
  background-image:linear-gradient(15deg,
  rgba(216, 159, 159, 0.1),
  rgba(245, 177, 158, 0.5),
  #8c3107 95% ), url(../img/menu/education.jpg);

}
#finance  li a{
  list-style: square;
}

/*End of dropdown additional styling*/
 /*end of navbar css*/



 #footer{
  list-style: none;
  width: 100%;
 
  margin-top:1px;
  bottom: 0 !important;

  color:#fff;
 
   background-image:linear-gradient(15deg,
   rgba(216, 159, 159, 0.9),
   rgba(19, 17, 17, 0.6),
   #8c3107 96% ),url(../img/menu/wuud.jpg);
  
   height: 250px
 }
 #footer hr{
   border:2px solid #fff;
 }
 #footer_content{
   padding-top: 1%;
  padding-left: 18%;
  padding-right: 10%;
 }

 #footer h4{
  font-weight: bold;

}
.Copyright{
  /* margin-bottom: 10px; */
}
#contact li{
font-size:16px; 
line-height: 1.5em;
 padding:8px;
 
}
#contact .fa{
color:#fff !important;
}

 /* chart of the day size */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);

.font-roboto {
  font-family: 'roboto condensed';
}

* {
  box-sizing: border-box;
}

/* body {
  .font-roboto();
} */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.chart_of_the_day {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
/* .modal-dialog {
  position: fixed;
  margin: 0;
  width: 50%;
  height: 50%;
  padding: 0;
} */

.sector_modal{
  /* position: fixed; */
  /* margin: 0; */
  width: 80%;
  height: 70%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #cc5522;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #cc5522;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

/* .btn {
  height: 40px;
  border-radius: 0;

  // focus
  &:focus,
  &:active,
  &:active:focus {
    box-shadow: none;
    outline: none;
  } */
}

.btn-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -100px;
  width: 200px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  font-weight: 300;
  font-size: 1.6rem;
  color: #fff;
  color: lighten(#484b5b, 20%);
  color: #fff;
  text-align: center;
  background: #60cc69;
  border: 1px solid #36a940;
  border-bottom: 3px solid #36a940;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);

  // active
  &:active {
    border-bottom: 1px solid #36a940;
  }
}

/* .btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  font-weight: 300;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  background: darken(#dcdfe4, 10%);
  border: 1px solid darken(#dcdfe4, 20%);
  border-bottom: 3px solid darken(#dcdfe4, 20%);

  // active
  &:active {
    border-bottom: 1px solid darken(#dcdfe4, 20%);
  }
} */
/* 
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  color: #cc7272;
  background: transparent;
  border: 0;
} */

/* h1,
h2,
h3 {
  color: #60cc69;
  line-height: 1.5;

  // first
  &:first-child {
    margin-top: 0;
  } */
}

p {
  font-size: 1.4em;
  line-height: 1.5;
  color: lighten(#5f6377, 20%);

  // last
  &:last-child {
    margin-bottom: 0;
  }
}

::-webkit-scrollbar {
  /* -webkit-appearance: none; */
  /* width: 10px; */
  /* background: #B06444; */
  /* border-left: 1px solid darken(#B06444, 10%); */
}

::-webkit-scrollbar-thumb {
  /* background: darken(#B06444, 20%); */
}

/* end chart of the day size */


#bubbles{
  /*background-color: #FCFBE3;*/
  background-image:linear-gradient(25deg,
rgba(216, 159, 159, 0.9),
rgba(19, 17, 17, 0.6),
#8c3107 96% ),url(../img/menu/chaged.png);
/* background-repeat:no-repeat; */
/* background-size: auto; */
/* background-position: right 20%; */

  padding-bottom: -7%;
}
 .one, .two, .three, .four, .five, .six {
   float: left;
   list-style: none;
 
 }
 .one  p{
  visibility:hidden;

}
.one:hover p{
  visibility: visible;
}

.two p{
visibility:hidden;
}
.two:hover p{
  visibility: visible;
}

.three button{
  visibility:hidden;
}
.three:hover button{
  visibility:visible;
}

    .one{
          margin-top: 6%;
          background-color: #b06444;
          width:340px;
         height:340px;
         border-radius: 50% !important;
         color: #222;
         text-align:center;
         animation-name: moveInOne;
         animation-duration: 6s;
         /* animation-timing-function: ease-in; */
         font-family: "Lucida Console", Monaco, monospace;

 
    }
   
    .one:hover{
      color: #222;
     width: 345px;
 height: 345px;
 background:#fff;
 opacity: .99;
 -webkit-transition: width 4s; /* Safari */
 transition: width 2s;
 border-style: dashed;
 border-color: #b06444;
    }
   
    .two{
         margin-left: -3%;
         margin-top: 5%;
         background: #E4B43A;
         opacity: 99%;
         width:300px;
         height:300px;
         border-radius: 50% !important;
         color: #fff;
         text-align:center;
         animation-name: moveInTwo;
         animation-duration: 6s;
         /* animation-timing-function: ease-in; */
         font-family: "Lucida Console", Monaco, monospace;
    }
    .two:hover{
      color: #222;
     width: 310px;
 height: 310px;
 background:#fff;
 -webkit-transition: width 2s; /* Safari */
 transition: width 2s;
 border-style: dashed;
 border-color: #b06444;

    }
    .three{
           margin-top: 3%;
           background-color: #354e9d;
           width:330px;
         height:330px;
         border-radius: 50% !important;
         color: #fff;
         text-align:center;
         animation-name: moveInThree;
         animation-duration: 6s;
         /* animation-timing-function: ease-in; */
     font-family: "Lucida Console", Monaco, monospace;
    }
    .three:hover{
      color: #222;
     width: 310px;
 height: 310px;
 background:#fff;
 -webkit-transition: width 2s; /* Safari */
 transition: width 2s;
 border-style: dashed;
 border-color: #b06444;

    }

    .four{
           margin-left: -3%;
           margin-top: 7%;
           background-color: #b5121b;
           width:300px;
         height:300px;
         border-radius: 50% !important;
         color: #fff;
         text-align:center;
         animation-name: moveInFour;
         animation-duration: 6s;
         /* animation-timing-function: ease-in; */
         font-family: "Lucida Console", Monaco, monospace;
   
    }
    .four:hover{
      color: #222;
     width: 310px;
 height: 310px;
 background:#fff;
 -webkit-transition: width 2s; /* Safari */
 transition: width 2s;
 border-style: dashed;
 border-color: #b06444;

    }

    .five{
             margin-top: 2%;
             background-color: #9e00c5;
             width:180px;
           height:180px;
           border-radius: 50% !important;
   
    }

    .six{
             margin-top:1%;
             margin-right: 10%;
             background-color: #00c853;
             width:300px;
           height:300px;
           border-radius: 50% !important;
   
    }
    .first{
      margin-top: 40%;
      color:#fff;
      text-align: center;
      text-transform: uppercase;
      font-size:27px;
    }


@keyframes moveInOne{
0%{
    opacity: 0;
    transform: translateX(-100px);

} 
100%{
     opacity: 1;
    transform: translate(0);
}
}

@keyframes moveInTwo{
0%{
    opacity: 0;
    transform: translateY(-100px);

} 
100%{
     opacity: 1;
    transform: translate(0);
}
}


@keyframes moveInThree{
0%{
    opacity: 0;
    transform: translateX(-60px);

} 
100%{
     opacity: 1;
    transform: translate(0);
}
}


@keyframes moveInFour{
0%{
    opacity: 0;
    transform: translateY(100px);

} 
100%{
     opacity: 1;
    transform: translate(0);
}
}

#suggestions{
  background: grey;
}

#suggestions li{
  
}
#suggestions a{
    color:  black ;
    list-style: none;
  }
  #suggestions  li:hover{
    color: #fff !important;
    background-color: #b06444;
    list-style: none;
    text-decoration: none;
  } 
  #suggestions  li:hover a{
   
  color: white ;
    list-style: none;
    text-decoration: none;
  }
  #suggestions{
    padding-left: -1px;
   margin-left:3% !important;
    background-color: white;
    list-style: none;
    line-height: 2.5em !important;
   width: 99.5%;
   margin-top:0%;
    position: absolute;
    z-index: 10;
    color:  black;
    border-color: 2px solid grey;
  }